.lyrics-lyricsContent-lyric {
  &:first-child {
    margin-top: 2rem;
  }

  .lyrics-lyricsContent-text {
    &.sub {
      font-weight: 100;
      font-size: 16px;
      margin-top: -1rem;

      &.english {
        margin-top: 0rem;
        margin-bottom: -1rem;
      }
    }
  }
}
